extends layout
 
block content
  ul#nav
    li
      a(href="/") Home
    li
      a(href="/ourServices") Our Services
    li
      a(href="/contactUs") Contact Us
   BR  
   h1#ww.pp="Happy To See You Here Again"
   br
   .logo 
      img(src="/images/logoo.png", alt="error")
   
