extends layout

block content
 ul#nav
    li
      a(href="/") Home
    li
      a(href="/ourServices") Our Services 
    li
      a(href="/contactUs") Contact Us
  BR  
  BR
   h1#ww.pp="Our Services"
   .block 
    img(src="/images/ser.png", alt="")
   p#para.para="We are here to design and develop your websites,"
   p#para.para="your mobile apps and even your school projects. "